<mat-expansion-panel class="wishlist">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-slide-toggle [(ngModel)]="artifact.wishlisted"></mat-slide-toggle>
      {{artifact.mainstat}} {{artifact.type}}
    </mat-panel-title>
    <mat-panel-description>
      Tap to edit desired substats.
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-form-field class="desired-substats">
    <mat-label>Desired Substats (Max 4)</mat-label>
    <mat-select multiple [(ngModel)]="artifact.requiredSubstats">
      <mat-option *ngFor="let substat of substats"
                  [value]="substat"
                  [disabled]="substat == artifact.mainstat || (artifact.requiredSubstats.length >= 4 && !artifact.requiredSubstats.includes(substat))">
        {{substat}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <!-- <div>
    How many rolled substats must be desired ones?
    <mat-button-toggle-group [(ngModel)]="artifact.minimum">
      <mat-button-toggle [value]=0>0</mat-button-toggle>
      <mat-button-toggle [value]=1>1</mat-button-toggle>
      <mat-button-toggle [value]=2>2</mat-button-toggle>
      <mat-button-toggle [value]=3>3</mat-button-toggle>
      <mat-button-toggle [value]=4>4</mat-button-toggle>
    </mat-button-toggle-group>
  </div> -->

</mat-expansion-panel>

<!-- <p>Wishlist artifact wishlist status is: {{artifact.wishlisted}}</p>
<p>Wishlist artifact's desired substats are: </p>
<ul>
  <li *ngFor="let substat of artifact.substats">
    {{substat}}
  </li>
</ul>
<p>Wishlist artifact's minimum is: {{artifact.minimum}}</p> -->