<div class="component">
  <h2>{{set}} Wishlist</h2>
  <div class="buttons">
    <button mat-raised-button (click)="goBack()">Back</button>
  </div>

  <mat-divider></mat-divider>
  <table mat-table [dataSource]="setWishlist">
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <ng-container matColumnDef="wishlisted">
      <th mat-header-cell *matHeaderCellDef>Wishlist?</th>
      <td mat-cell *matCellDef="let artifact">
        <mat-slide-toggle [(ngModel)]="artifact.wishlisted"></mat-slide-toggle>
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let artifact">
        {{artifact.type}}
      </td>
    </ng-container>

    <ng-container matColumnDef="mainstat">
      <th mat-header-cell *matHeaderCellDef>Mainstat</th>
      <td mat-cell *matCellDef="let artifact">
        {{artifact.mainstat}}
      </td>
    </ng-container>

    <ng-container matColumnDef="substats">
      <th mat-header-cell *matHeaderCellDef>Desired Substats (Max 4)</th>
      <td mat-cell *matCellDef="let artifact">
        <mat-form-field appearance="standard" class="desired-substats">
          <!-- <mat-label>Desired Substats (Max 4)</mat-label> -->
          <mat-select multiple [(ngModel)]="artifact.substats" placeholder="Desired Substats (Max 4)">
            <mat-option *ngFor="let substat of substats"
                        [value]="substat"
                        [disabled]="substat == artifact.mainstat || (artifact.substats.length >= 4 && !artifact.substats.includes(substat))">
              {{substat}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>
  </table>

  <!-- <mat-accordion>
    <div *ngFor="let artifact of setWishlist">
      <app-wishlist-artifact [artifact]="artifact"></app-wishlist-artifact>
    </div>
  </mat-accordion> -->
  <!-- <mat-divider></mat-divider> -->
  <div class="buttons">
    <button mat-raised-button (click)="goBack()">Back</button>
  </div>
</div>