@import "@angular/material/prebuilt-themes/indigo-pink.css";

html {
  background-color: darkslateblue;
  color: white;
}

h1, h2, h3 {
  text-align: center;
}

.container {
  background-color: darkslategray;
  padding: 1rem;
  border-radius: 4px;
}

.instructions {
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}

.mat-divider {
  padding: 0.5rem;
}

.mat-expansion-panel {
  background-color: lightseagreen;
}